<navigation></navigation>
<div class="container">
    <div class="text-center mb-5">
        <h1>CHANGE PASSWORD</h1>
    </div>
    <div class=" d-flex justify-content-between row ">
        <div class="col-md-7">
            <div class="text-center img">
                <h5 class="mb-3">MANAGE YOUR GADGETS ACCOUNT</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Lorem ipsum
                    dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege</p>
            </div>
            <img src="https://demo.w3layouts.com/demos_new/template_demo/18-05-2019/gadget_signup_form-demo_Free/1576182126/web/images/b11.png"
                alt="" style="max-width: 100%">
        </div>
        <div class="col-md-5 m-auto">
            <div class="card text-center shadow  " style="height: 34vh;">
                <div class="m-3">
                    <h3 class="name" style="color: #b40606;">Change Password</h3>
                </div>
                <form action="" [formGroup]="change">
                    <div class="m-auto formchange">
                        <input type="email" formControlName="email" value="  {{user.email}}"
                            placeholder="Enter email...">
                        <p class="m-2" id="result" style="color: green;"></p>
                        <p class="m-2" id="result2" style="color: #b40606;"></p>
                        <button class="btn-danger" (click)="resetPassword(change.value)">Submit </button>

                    </div>
                </form>

                <!-- <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label class="change" [nzSm]="8" [nzXs]="24" nzRequired nzFor="email">E-mail
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                            <input nz-input formControlName="email" id="email" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label class="change" [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired>Password
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                            <input nz-input type="password" id="password" formControlName="password"
                                (ngModelChange)="updateConfirmValidator()" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label class="change" [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm
                            Password
                        </nz-form-label>
                        <nz-form-control [nzSm]="13" [nzXs]="24" [nzErrorTip]="errorTpl">
                            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please confirm your password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    Two passwords that you enter is inconsistent!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-row class="register-area">
                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button nzType="primary">Register</button>
                        </nz-form-control>
                    </nz-form-item>
                </form> -->
            </div>
        </div>
    </div>
</div>