[nz-form] {
  max-width: 100%;
}

button {
  margin-left: 8px;
}

 .img{
   max-width: 100%;
 }
.change >label {
  float: left ;
}
.ant-form-item > label{
  float: left;
}
label{
  float: left !important;
  color: red;
}
.formchange >input{
  width: 70% ;
  height: 40px;
  margin: 15px 14px;
}
.formchange >button{
  width: 50%;
  height: 40px;
  margin-bottom: 12px;
}