<footer class="bg-dark">
    <div class="container">
        <div class=" justify-content-between  row ">
            <div class="info text-center">
                <div>
                    <i class="fa fa-map-marker mr-1"></i>
                    <span>12 Trịnh Đình Thảo, Phường Hòa Thạnh, Quận Tân Phú</span><br>
                </div>
                <div class="d-flex">
                    <div class="mr-2">
                        <i class="fa fa-envelope mr-1 "></i>
                        <span>info@example.com</span>
                    </div>
                    <div>
                        <i class="fa fa-phone mr-1"></i>
                        <span>0898-398-112</span>
                    </div>
                </div>
            </div>
            <div class="info text-center ">
                <span>Follow me on social media</span>
                <div class="ml-3">
                    <a class=" nav-link-icon " href="#">
                        <i class="fa fa-facebook-square"></i>
                        <span class="nav-link-inner--text d-lg-none">Facebook</span>
                    </a>
                    <a class=" nav-link-icon" href="#">
                        <i class="fa fa-twitter"></i>
                        <span class="nav-link-inner--text d-lg-none">Twitter</span>
                    </a>
                    <a class=" nav-link-icon" href="#">
                        <i class="fa fa-instagram"></i>
                        <span class="nav-link-inner--text d-lg-none">Instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr style="max-width: 100%;background-color:#fff !important">
    <div class="text-center pb-1 ">
        <span class="m-1" href="#" style="color: wheat">Copyright © 2019 Tung ITC. All rights reserved.</span>

    </div>
</footer>