.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 
  .ex{
      min-height: 80vh;
  }
  .card-body{
    padding: 1px 0px 0px 0px;
    margin: 10px;
  }
  
  
  .sticky {
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 20;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 40%;  
    }
  }
  
  .sticky + .content {
    padding-top: 102px;
  }