.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
.img{
  max-width: 100%;
  position: relative;
  margin: auto
}
// .card{
//   width: 356px
// }
.bg {
  background-repeat: no-repeat;
height: 800px;

}
.lg{
  font-weight: bold;
  font-size: 43px;
  text-transform: uppercase
}
