<div class="bg mt-5"
    style="background-image: url('https://demo.w3layouts.com/demos_new/19-01-2017/sublime_contact_form-demo_Free/1317874809/web/images/banner.jpg');max-width: 100%">
    <div class="text-center pt-5 pb-3">
        <h2 style="color: #fff">SUBLIME CONTACT FORM</h2>
    </div>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-auto">
                    <div class="text-center mt-5">
                        <form action="">
                            <h4 style="color: #fff">CONTACT US</h4>
                            <input type="text" placeholder="USENAME">
                            <input type="email" name="" id="" placeholder="MAIL@EXAMPLE.COM"><br>
                            <textarea placeholder="YOUR EMAIL" style="height: 100px">
                                                    </textarea>
                            <div class="">
                                <input type="submit">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>