.card{
    background-color: rgba(0,0,0,0.5);
    // width: 60%;
    margin: auto;
}
.bg{
    background-position: center;
    background-attachment: fixed;
}
input[type="text"] ,input[type="email"], textarea{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    font-weight: normal;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 5px solid #ffffff;
    font-family: 'Muli', sans-serif;
    margin-bottom: 30px;
    outline: none;
    letter-spacing: 1px;
}
input[type="submit"]{
    width: 100%;
    background-color: #171515;
    font-size: 16px;
    color: #fff;
    border: none;
    height: 50px;

}