<navigation>
</navigation>
<div>
    <div class="bg" style="max-width: 100%;">
        <div class="bg2">
            <div class="container pd">
                <div class="row add ">
                    <div class="col-md-6">
                        <div class="card1 m-auto">
                            <div class="m-auto avt">
                                <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/66389802_844593089242719_7949268730070958080_n.jpg?_nc_cat=101&_nc_oc=AQmStYPiXIBq3JMawOerSKAGUKlK5rJOM6R5y2Zo65M7sbQ7n4cY7qUXH1BTH1hyxA4&_nc_ht=scontent.fhan2-1.fna&oh=e2c8b34b9cd44a984e04fd57baf76d58&oe=5E2FAB1D"
                                    alt="">
                            </div>
                            <h3>Nguyen Thanh Tung</h3>
                            <p>WEBSITE PROGRAMING</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info3">
                            <H3 style="color: #fff">Career Goal</H3>
                            <p style="color: #c5c2c2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                dignissim velit sed nibh
                                placerat, non aliquam purus pretium. Donec at justo dignissim, maximus elit et,
                                vestibulum
                                mi.
                            </p>
                            <div>
                                <ul class="unline" style="list-style: none">
                                    <li class="info3">
                                        <ul class="info">
                                            <li class="info2">D.O.B</li>
                                            <li><span>:xxx-xxx-xxx</span></li>
                                        </ul>
                                        <ul class="info">
                                            <li class="info2"><span>PHONE</span></li>
                                            <li><span>:xxx-xxx-xxx</span></li>
                                        </ul>
                                        <ul class="info">
                                            <li class="info2"><span>ADDRESS </span></li>
                                            <li><span>:California</span></li>
                                        </ul>
                                        <ul class="info">
                                            <li class="info2"><span>E-MAIL</span></li>
                                            <li><span>:info@example.com</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="font2 m-5">
        <div class="text-center ">
            <h1 style="font-family: 'Poppins', sans-serif;color: #00bcd4">ABOUT ME</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/ab5.jpg"
                        alt="" style="max-width: 100%">
                </div>
                <div class="col-md-6 lg1">
                    <h3> Aliquam Euismod At Turpis Eu Egestas</h3>
                    <p>Nullam pulvinar nunc eget tortor elementum, sed vehicula massa vestibulum. Aenean gravida arcu
                        viverra nisl euismod laoreet. Fusce accumsan vel arcu at tincidunt. Nulla non nulla ultrices,
                        pharetra orci in, varius nunc</p>
                    <h3 style="color:#00bcd4; font-size:1em">Lorem Ipsum Dolor Sit Amet, Consectetur
                        Adipisci Ask</h3>
                    <div class="about ">
                        <div class="about1">
                            <h3>20</h3>
                            <h5>Web Projects</h5>
                        </div>
                        <div class="about1">
                            <h3>20</h3>
                            <h5>Web Projects</h5>
                        </div>
                        <div class="about1">
                            <h3>20</h3>
                            <h5>Web Projects</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 lg1">
                    <h3> Pellentesque sit amet ex at nisl posuere</h3>
                    <p>Nullam pulvinar nunc eget tortor elementum, sed vehicula massa vestibulum. Aenean gravida arcu
                        viverra nisl euismod laoreet. Fusce accumsan vel arcu at tincidunt. Nulla non nulla ultrices,
                        pharetra orci in, varius nunc.</p>
                    <h3 style="color:#00bcd4; font-size:1em">Lorem Ipsum Dolor Sit Amet, Consectetur
                        Adipisci Ask</h3>
                    <button class="btn">REDMORE</button>
                </div>
                <div class="col-md-6">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/ab7.jpg"
                        alt="" style="max-width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 style="    font-family: 'Poppins', sans-serif;
        color: #00bcd4;">MY PROJECTS</h1>
    </div>
    <div class="container  ">
        <div class="row">
            <div class="col-md-4">
                <div class="container1 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g1.jpg"
                        alt="Avatar" class="image1" style="max-width: 100%">
                    <div class="overlay1">
                        <div class="text1">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container2 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g2.jpg"
                        alt="Avatar" class="image2" style="max-width: 100%">
                    <div class="overlay2">
                        <div class="text2">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container3 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g31.jpg"
                        alt="Avatar" class="image2" style="max-width: 100%">
                    <div class="overlay3">
                        <div class="text3">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container4 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g4.jpg"
                        alt="Avatar" class="image4" style="max-width: 100%">
                    <div class="overlay4">
                        <div class="text4">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container1 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g5.jpg"
                        alt="Avatar" class="image1" style="max-width: 100%">
                    <div class="overlay1">
                        <div class="text1">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container2 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g6.jpg"
                        alt="Avatar" class="image2" style="max-width: 100%">
                    <div class="overlay2">
                        <div class="text2">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container1 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g7.jpg"
                        alt="Avatar" class="image1" style="max-width: 100%">
                    <div class="overlay1">
                        <div class="text1">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container4 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g8.jpg"
                        alt="Avatar" class="image4" style="max-width: 100%">
                    <div class="overlay4">
                        <div class="text4">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container3 dt" style="height: 340px;width: 300px">
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-10-2017/c_resume-demo_Free/760142481/web/images/g9.jpg"
                        alt="Avatar" class="image2" style="max-width: 100%">
                    <div class="overlay3">
                        <div class="text3">
                            <button style="background: orange"> View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<tp-footer>
</tp-footer>